node_modules/
dist/
build/
.env.local
.env*.local
*.log
.DS_Store
.idea/
.vscode/
.client/node_modules/
.client/build/
.server/node_modules/
.server/dist/                       
.client/.env.local
.server/.env*.local         
.client/.env.example
.client/.env
.server/.env
.server/.env.example